<!-- 

<body>

<mat-slider min="1" max="100" step="1" value="1" color="warn"></mat-slider>


<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
</div>

<p> hi</p>
</body> -->

<!-- <style>
body {
  background-image: url('../assets/styling-images/background-wood.jpg');
}
</style> -->

<!-- <div class="container">
  <h1>Hello everyone</h1>
</div>
 -->


<!-- <div class = "bg" [ngStyle]="{backgroundImage: 'url(../assets/styling-images/background_wood.jpg)'}"> -->
<div class = "bg">
<p class="title-heading"> Stories at the CrossRoads</p>
	
	<!-- <div class = "overlay" [ngStyle]="{backgroundImage: 'url(../assets/styling-images/background_papyrus.jpg)'}"> -->
<div class = "wrapper">
  <div class = "overlay-left" >

  <div class = "intro">
  <p class = "intro-text"> Crossroads: stories is a research project about stories and culture and connection generations of immigrant families. This tool is for grandparents and grandchildren to have fun together</p>
  </div>
  </div>

  <div class = "overlay-right" >

  <div class = "sign-up">
  
  <p class="instruction"> Sign In</p>
	
	<form class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>ID</mat-label>
    <input matInput placeholder="Ask the researcher for your ID" (keyup.enter)="OnInputID($event)" (blur)="OnInputID($event)">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Grandchild Name</mat-label>
    <input matInput placeholder="What is your name?" (keyup.enter)="OnInputGkName($event)" (blur)="OnInputGkName($event)">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Grandparent Name</mat-label>
    <input matInput placeholder="What do you call your grandparent?" (keyup.enter)="OnInputGpName($event)" (blur)="OnInputGpName($event)">
  </mat-form-field>
  
</form>

</div>

  <!-- <h1>{{product.id}}</h1> -->

	<button mat-raised-button class = "nav-button" (click) = "form_submit()" [routerLink] = "['/hints', f_id]">Start Storytelling</button>

   <!-- <p>{{product_id}}</p>
    <a [routerLink]="['/hints', product_id]">Product Detail</a> -->

</div>
</div>
</div>

