


<router-outlet></router-outlet>

  


	
<!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg">
        </div>
    </ng-template>
</owl-carousel-o>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
</div>
 -->
