.overlay{
	
	height: 50vh;
	overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	
}

.nav-button{
	/*justify-content: flex-end;*/
	float: right;
	margin: 20px;
}