<div class = "bg">

<p class="title-sub">Story Time</p>

<div class = "overlay">

<p class = "instruction">{{gp_name}}: When you are ready to tell your story, press the "Start Recording" button</p>

<p class = "instruction">{{gk_name}}: Help {{gp_name}} tell the story that answers the question: {{hint}}</p>

<div style="text-align:center;margin-top: 200px;" >
<button (click)="initiateRecording()" mat-raised-button class = "record-button" *ngIf="!recording" style="cursor: pointer;font-size: 30px;"> Start Recording </button>
<button (click)="stopRecording()" mat-raised-button *ngIf="recording" color="warn" style="cursor: pointer;font-size: 30px;"> Stop Recording </button>
<audio controls="" *ngIf="url">
<source [src]="sanitize(url)" type="audio/wav">
</audio>
</div>



<button mat-raised-button class = "nav-button" [routerLink] = "['/story', f_id]">Start Drawing</button>

</div>
</div>
