
<body>

<div class = "bg">

<div class = "header">


<div class = "title">Let's make something to remember {{gp_name}}'s story</div>

<!-- <button mat-raised-button class = "nav-button"(click)="clickFunction($event)">Tell Story Again</button> -->


<!-- <button (click)="initiateRecording()" mat-raised-button class = "nav-button" *ngIf="!recording"> Tell Story Again</button>

<button (click)="stopRecording()" mat-raised-button class = "nav-button" *ngIf="recording" color="warn"> Stop Recording </button> -->

<!-- <button mat-raised-button class = "nav-button"(click)="clickFunction($event)">Listen to Story</button> -->

<button mat-raised-button class = "nav-button"(click)="clickFunction($event)">Idea Deck</button>

<br>
<audio controls="" *ngIf="url">
<source [src]="sanitize(url)" type="audio/wav">
</audio>



</div>

<!-- <div>
<img id = "help" src="../assets/story-help-images/help_card.png" alt="Help card" >
</div> -->

<iframe width="100%" height="90%" frameBorder="0" src="https://crossroads-stories.firebaseapp.com/#!/"></iframe>

</div>



</body>