<div class = "bg">

<p class="title-sub"> Let's come up with an idea for a story</p>

<div class = "overlay">

<div class = "hint">

<p class = "instruction">{{gk_name}}, can you help {{gp_name}} pick a hint? <i>Click</i> on the hint you want to pick.</p>

<owl-carousel-o [options]="customOptions" class = "carousel">
 
    <ng-template carouselSlide *ngFor="let hint of hintArr" [id]="hint.id">
    	<!-- <mat-card class="hint-card" [ngStyle]="{backgroundImage: 'url(../assets/styling-images/background_fabric.jpg)'}" (click)="clickFunction($event, hint.id)" [ngClass]="{'highlight': selectedIndex === hint.id}"> -->
      <mat-card class="hint-card" (click)="clickFunction($event, hint.id)" [ngClass]="{'highlight': selectedIndex === hint.id}">

      <div class = "image-container">
      	<img class = "hint-image" [src]="hint.src">
      </div>


		
	
      <!-- <mat-card-header  > -->
	    	<mat-card-title class = "hint-question"> {{gp_name}}, {{hint.question}}</mat-card-title>
	     <!-- </mat-card-header> -->
	

 <!-- <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="hint.id===1">Pick this story</button>
  </mat-card-actions> -->

      </mat-card>


    </ng-template>
   
</owl-carousel-o>
</div>
 

</div>

</div>
